<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zifangsky.mapper.LianjiaXiaoquxxMapper" >
  <resultMap id="BaseResultMap" type="cn.zifangsky.model.LianjiaXiaoquxx" >
    <id column="XIAOQUBM" property="xiaoqubm" jdbcType="VARCHAR" />
    <result column="XIAOQUMC" property="xiaoqumc" jdbcType="VARCHAR" />
    <result column="SUOZAICS" property="suozaics" jdbcType="VARCHAR" />
    <result column="SUOZAICQ" property="suozaicq" jdbcType="VARCHAR" />
    <result column="SUOZAISQ" property="suozaisq" jdbcType="VARCHAR" />
    <result column="DITIEXX" property="ditiexx" jdbcType="VARCHAR" />
    <result column="SHIFOUXQ" property="shifouxq" jdbcType="VARCHAR" />
    <result column="XUEQUXX" property="xuequxx" jdbcType="VARCHAR" />
    <result column="ZAISHOUTS" property="zaishouts" jdbcType="DECIMAL" />
    <result column="CHUZHUTS" property="chuzhuts" jdbcType="DECIMAL" />
    <result column="JINQICJTS" property="jinqicjts" jdbcType="DECIMAL" />
    <result column="GENGXINRQ" property="gengxinrq" jdbcType="CHAR" />
    <result column="LIANJIEDZ" property="lianjiedz" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    XIAOQUBM, XIAOQUMC, SUOZAICS, SUOZAICQ, SUOZAISQ, DITIEXX, SHIFOUXQ, XUEQUXX, ZAISHOUTS, 
    CHUZHUTS, JINQICJTS, GENGXINRQ, LIANJIEDZ
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from lianjia_xiaoquxx
    where XIAOQUBM = #{xiaoqubm,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from lianjia_xiaoquxx
    where XIAOQUBM = #{xiaoqubm,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.zifangsky.model.LianjiaXiaoquxx" >
    insert into lianjia_xiaoquxx (XIAOQUBM, XIAOQUMC, SUOZAICS, 
      SUOZAICQ, SUOZAISQ, DITIEXX, 
      SHIFOUXQ, XUEQUXX, ZAISHOUTS, 
      CHUZHUTS, JINQICJTS, GENGXINRQ, 
      LIANJIEDZ)
    values (#{xiaoqubm,jdbcType=VARCHAR}, #{xiaoqumc,jdbcType=VARCHAR}, #{suozaics,jdbcType=VARCHAR}, 
      #{suozaicq,jdbcType=VARCHAR}, #{suozaisq,jdbcType=VARCHAR}, #{ditiexx,jdbcType=VARCHAR}, 
      #{shifouxq,jdbcType=VARCHAR}, #{xuequxx,jdbcType=VARCHAR}, #{zaishouts,jdbcType=DECIMAL}, 
      #{chuzhuts,jdbcType=DECIMAL}, #{jinqicjts,jdbcType=DECIMAL}, #{gengxinrq,jdbcType=CHAR}, 
      #{lianjiedz,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.zifangsky.model.LianjiaXiaoquxx" >
    insert into lianjia_xiaoquxx
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="xiaoqubm != null" >
        XIAOQUBM,
      </if>
      <if test="xiaoqumc != null" >
        XIAOQUMC,
      </if>
      <if test="suozaics != null" >
        SUOZAICS,
      </if>
      <if test="suozaicq != null" >
        SUOZAICQ,
      </if>
      <if test="suozaisq != null" >
        SUOZAISQ,
      </if>
      <if test="ditiexx != null" >
        DITIEXX,
      </if>
      <if test="shifouxq != null" >
        SHIFOUXQ,
      </if>
      <if test="xuequxx != null" >
        XUEQUXX,
      </if>
      <if test="zaishouts != null" >
        ZAISHOUTS,
      </if>
      <if test="chuzhuts != null" >
        CHUZHUTS,
      </if>
      <if test="jinqicjts != null" >
        JINQICJTS,
      </if>
      <if test="gengxinrq != null" >
        GENGXINRQ,
      </if>
      <if test="lianjiedz != null" >
        LIANJIEDZ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="xiaoqubm != null" >
        #{xiaoqubm,jdbcType=VARCHAR},
      </if>
      <if test="xiaoqumc != null" >
        #{xiaoqumc,jdbcType=VARCHAR},
      </if>
      <if test="suozaics != null" >
        #{suozaics,jdbcType=VARCHAR},
      </if>
      <if test="suozaicq != null" >
        #{suozaicq,jdbcType=VARCHAR},
      </if>
      <if test="suozaisq != null" >
        #{suozaisq,jdbcType=VARCHAR},
      </if>
      <if test="ditiexx != null" >
        #{ditiexx,jdbcType=VARCHAR},
      </if>
      <if test="shifouxq != null" >
        #{shifouxq,jdbcType=VARCHAR},
      </if>
      <if test="xuequxx != null" >
        #{xuequxx,jdbcType=VARCHAR},
      </if>
      <if test="zaishouts != null" >
        #{zaishouts,jdbcType=DECIMAL},
      </if>
      <if test="chuzhuts != null" >
        #{chuzhuts,jdbcType=DECIMAL},
      </if>
      <if test="jinqicjts != null" >
        #{jinqicjts,jdbcType=DECIMAL},
      </if>
      <if test="gengxinrq != null" >
        #{gengxinrq,jdbcType=CHAR},
      </if>
      <if test="lianjiedz != null" >
        #{lianjiedz,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.zifangsky.model.LianjiaXiaoquxx" >
    update lianjia_xiaoquxx
    <set >
      <if test="xiaoqumc != null" >
        XIAOQUMC = #{xiaoqumc,jdbcType=VARCHAR},
      </if>
      <if test="suozaics != null" >
        SUOZAICS = #{suozaics,jdbcType=VARCHAR},
      </if>
      <if test="suozaicq != null" >
        SUOZAICQ = #{suozaicq,jdbcType=VARCHAR},
      </if>
      <if test="suozaisq != null" >
        SUOZAISQ = #{suozaisq,jdbcType=VARCHAR},
      </if>
      <if test="ditiexx != null" >
        DITIEXX = #{ditiexx,jdbcType=VARCHAR},
      </if>
      <if test="shifouxq != null" >
        SHIFOUXQ = #{shifouxq,jdbcType=VARCHAR},
      </if>
      <if test="xuequxx != null" >
        XUEQUXX = #{xuequxx,jdbcType=VARCHAR},
      </if>
      <if test="zaishouts != null" >
        ZAISHOUTS = #{zaishouts,jdbcType=DECIMAL},
      </if>
      <if test="chuzhuts != null" >
        CHUZHUTS = #{chuzhuts,jdbcType=DECIMAL},
      </if>
      <if test="jinqicjts != null" >
        JINQICJTS = #{jinqicjts,jdbcType=DECIMAL},
      </if>
      <if test="gengxinrq != null" >
        GENGXINRQ = #{gengxinrq,jdbcType=CHAR},
      </if>
      <if test="lianjiedz != null" >
        LIANJIEDZ = #{lianjiedz,jdbcType=VARCHAR},
      </if>
    </set>
    where XIAOQUBM = #{xiaoqubm,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.zifangsky.model.LianjiaXiaoquxx" >
    update lianjia_xiaoquxx
    set XIAOQUMC = #{xiaoqumc,jdbcType=VARCHAR},
      SUOZAICS = #{suozaics,jdbcType=VARCHAR},
      SUOZAICQ = #{suozaicq,jdbcType=VARCHAR},
      SUOZAISQ = #{suozaisq,jdbcType=VARCHAR},
      DITIEXX = #{ditiexx,jdbcType=VARCHAR},
      SHIFOUXQ = #{shifouxq,jdbcType=VARCHAR},
      XUEQUXX = #{xuequxx,jdbcType=VARCHAR},
      ZAISHOUTS = #{zaishouts,jdbcType=DECIMAL},
      CHUZHUTS = #{chuzhuts,jdbcType=DECIMAL},
      JINQICJTS = #{jinqicjts,jdbcType=DECIMAL},
      GENGXINRQ = #{gengxinrq,jdbcType=CHAR},
      LIANJIEDZ = #{lianjiedz,jdbcType=VARCHAR}
    where XIAOQUBM = #{xiaoqubm,jdbcType=VARCHAR}
  </update>
</mapper>